[Unit]
Description=Care_4_U Flask App (Gunicorn)
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/AWS_CAPSTONE_CARE_4
Environment="PATH=/home/ec2-user/AWS_CAPSTONE_CARE_4/venv/bin"
EnvironmentFile=/home/ec2-user/AWS_CAPSTONE_CARE_4/.env
ExecStart=/home/ec2-user/AWS_CAPSTONE_CARE_4/venv/bin/gunicorn \
    --workers 3 \
    --bind unix:/home/ec2-user/AWS_CAPSTONE_CARE_4/care4u.sock \
    --access-logfile /home/ec2-user/AWS_CAPSTONE_CARE_4/logs/access.log \
    --error-logfile /home/ec2-user/AWS_CAPSTONE_CARE_4/logs/error.log \
    app_aws:app

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
